{% extends 'base.html.twig' %}

{% block title %}Todo List{% endblock %}

{% block body %}
    <div class="container mx-auto mt-5 p-5 bg-white rounded shadow">
        <h1 class="text-3xl font-bold mb-4">Todo List</h1>

        <div class="overflow-x-auto">
            <table class="min-w-full bg-white text-center border-collapse border border-slate-500">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="w-20 py-2">Id</th>
                        <th class="w-1/4 py-2">Name</th>
                        <th class="w-1/2 py-2">Description</th>
                        <th class="w-1/4 py-2" colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody class="text-gray-700">
                {% for todo in todos %}
                    <tr class="border-b">
                        <td class="py-2 px-4">{{ todo.id }}</td>
                        <td class="py-2 px-4">{{ todo.name }}</td>
                        <td class="py-2 px-4">{{ todo.description }}</td>
                        <td class="py-2 px-4">
                            <a href="{{ path('app_todo_show', {'id': todo.id}) }}" class="text-blue-500 hover:text-blue-700">Show</a>
                            <a href="{{ path('app_todo_edit', {'id': todo.id}) }}" class="text-yellow-500 hover:text-yellow-700 ml-4">Edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4" class="text-center py-4">No records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="mt-4">
            <a href="{{ path('app_todo_new') }}" class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Create New Todo</a>
        </div>
    </div>
{% endblock %}
